@import "tailwindcss";

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Empêche le mode sombre système */
html {
  color-scheme: light !important;
}
